.icon {
  color: rgb(217 35 45);
  font-size: 40px;
  text-align: center;
}
.content-title h4 {
  color: rgb(217 35 45);
}
article {
  margin-top: 30px;
}
.title {
  row-gap: 30px;
  align-items: space-between;
}
.content-title p {
  margin-bottom: 0;
}
